@use "../../styling/variables.scss" as *;

.about-container {
     width: 100%;
     overflow: hidden;
}

.about-wrapper {
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;

     img {
          width: 80%;
          aspect-ratio: 16 / 9;
          height: auto;
          max-height: 60vh;
          border-radius: 5px;
          object-fit: cover;
          object-position: top left;
          filter: saturate(70%) grayscale(10%) brightness(90%);
     }

     .about-title {
          width: 80%;
          padding: 2em 0;
          font: clamp(2em, 4vw, 4em) $pr-montserrat;

          .title-focal {
               max-width: 60%;
          }
     }

     .content {
          width: 80%;
          font: normal 1em $tr-opensans;

          h3 {
               padding: 1.5em 0;
               font-size: 2em;
          }

          p {
               max-width: 40em;
               text-indent: 5.5em;
               text-wrap: wrap;
               font-size: clamp(0.9em, 1vw, 1.1em);
          }
     }

     .socials {
          width: 80%;
          padding: 10em 0;

          ul {
               list-style-type: none;
               display: flex;
               gap: clamp(0.5em, 4vw, 4em);

               li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 1em;
                    width: 15em;
                    height: clamp(2.5em, 5vw, 5em);
                    border-bottom: 3px solid $a-color;
                    background: $sc-color;
                    font: clamp(1em, 2vw, 1.5em) $tr-opensans;
                    color: $a-color;
                    cursor: pointer;
               }
          }
     }
}
