@use "../../styling/variables.scss" as *;

.hero-container {
     position: relative;
     width: 100%;
     padding: clamp(1.5em, 5vw, 5em);
     height: 80vh;
     display: flex;
     align-items: end;

     &::before {
          position: absolute;
          content: "";
          bottom: -3em;
          left: 50%;
          width: 90%;
          transform: translateX(-50%);
          border: 1px solid #ccc;
          z-index: -1;
     }
}

.hero-wrapper {
     width: max-content;
     font-family: $sc-roboto;

     div {
          font-size: clamp(3em, 6vw, 6em);
          font-weight: 900;
          letter-spacing: -2px;
          text-wrap: balance;
          opacity: 0.8;

          #andSign {
               font-size: clamp(20px, 3vw, 50px);
          }

          .dash,
          .letters-portfolio {
               display: inline-block;
               // border: 1px solid red;
          }

          // #oSign {
          //      rotate: 25deg;
          // }

          // #lSign {
          //      rotate: 15deg;
          // }
          // #iSign {
          //      rotate: 20deg;
          // }
          #oSign {
               rotate: 25deg;
          }
     }
}
