@use "../variables.scss" as *;

.review-container {
     width: 100%;
     overflow: hidden;
     display: flex;
     justify-content: center;
     padding: 10em 0;
}

.reviews-wrapper {
     position: relative;
     background: $tr-color;
     box-shadow: 0 2px 10px 2px lighten($a-color, 50%);
     width: 80%;
     display: flex;
     flex-direction: column;
     padding: 1em;

     .bg-img {
          position: absolute;
          top: 10%;
          left: 5%;
          font-size: clamp(10em, 20vw, 20em);
          color: lighten($a-color, 45%);
          z-index: 0;
     }

     .reviews-content1 {
          padding: clamp(2em, 5vw, 5em);
          font: clamp(1em, 2vw, 2em) $tr-opensans;

          div {
               position: relative;
               z-index: 1;
          }
     }

     .reviews-content2 {
          display: flex;
          align-items: center;
          justify-content: end;
          gap: 1em;
          padding: 0 2em;

          .item1 {
               font: clamp(1em, 2vw, 2em) $pr-montserrat;
          }

          img {
               border-radius: 50%;
               width: clamp(5em, 10vw, 10em);
               aspect-ratio: 1 / 1;
               filter: saturate(80%) brightness(0.9);
          }
     }
}
