@use "../variables.scss" as *;

.skills-container {
     width: 100%;
     height: 90vh;
     margin: clamp(5em, 10vw, 10em) 0;

     .skills-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;

          @media (max-width: 992px) {
               align-items: unset;
               justify-content: center;
               flex-direction: column;
               padding: 1em;
          }
     }

     @media (max-width: 576px) {
          height: 100vh;
     }
}

.skills-content1 {
     position: relative;
     flex: 1 0 50%;
     height: 100%;

     span {
          position: absolute;
          font-size: clamp(3em, 8vw, 8em);
          color: darken($a-color, 10%);
          padding: 0.1em;
          background: #0000004b;
          border-radius: 5px;

          &:nth-child(3n) {
               transform: scale(1.2);
          }

          &:nth-child(2n) {
               transform: scale(0.5);
               filter: blur(4px);
          }

          &:nth-child(4n) {
               transform: scale(0.9);
               filter: blur(2px);
          }

          &:nth-child(1) {
               @include positioning(85%, 1%);
          }
          &:nth-child(2) {
               @include positioning(25%, 10%);
          }
          &:nth-child(3) {
               @include positioning(1%, 10%);
          }
          &:nth-child(4) {
               @include positioning(30%, 25%);
          }
          &:nth-child(5) {
               @include positioning(55%, 40%);
          }
          &:nth-child(6) {
               @include positioning(65%, 70%);
          }
          &:nth-child(7) {
               @include positioning(75%, 45%);
          }
          &:nth-child(8) {
               @include positioning(80%, 65%);
          }
          &:nth-child(9) {
               @include positioning(15%, 35%);
          }
          &:nth-child(10) {
               @include positioning(35%, 65%);
          }
          &:nth-child(11) {
               @include positioning(45%, 80%);
          }
          &:nth-child(12) {
               @include positioning(75%, 15%);
          }
          &:nth-child(13) {
               @include positioning(15%, 85%);
          }
          &:nth-child(14) {
               @include positioning(5%, 70%);
          }
     }
}

.skills-content2 {
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex: 1 0 50%;
     height: 100%;

     h2 {
          font: clamp(2em, 4vw, 4em) $pr-montserrat;
     }

     .skillset {
          padding: clamp(2em, 4vw, 4em) 0;
          min-width: 50%;
          flex-wrap: wrap;
          align-items: center;
          display: flex;
          gap: 1em;

          span {
               background: $tr-color;
               border-radius: 50px;
               font: clamp(0.9em, 1.7vw, 1.7em) $tr-opensans;
               padding: 0.3em 1.2em;
          }
     }
}
