@use "../variables.scss" as *;

.project-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.project-title-content {
  position: relative;
  width: 100%;
  height: 90vh;
  padding: 10em clamp(2em, 5vw, 5em);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 5;

  h3 {
    color: darken($a-color, 15%);
    font: 900 clamp(3em, 6vw, 6em) / 0.9em $sc-roboto;
    letter-spacing: -3px;
    text-shadow: 0px 0px 25px $tr-color;
  }

  #temporary-title-wrapper {
    display: flex;
    min-height: 2.5em;

    #moving-title {
      font: normal clamp(1.4em, 2vw, 2em) $pr-montserrat;
      color: lighten($a-color, 2%);
      letter-spacing: -1px;
      margin-left: clamp(0.1em, 0.8vw, 0.8em);
    }
  }
}

.project-section-wrapper {
  display: flex;
  // height: 200vh;
  min-height: 200vh;
  // height: max-content;
  width: 100%;
  border: 1px solid red;

  @media (max-width: 768px) {
    padding: 0 1em;
    width: 100%;
  }

  .project-content1 {
    position: relative;
    width: 100%;
    // height: clamp(50vh, 100vw, 90vh);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(0em, 5vw, 5em);

    .project-text-context {
      border: 1px solid red;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h4 {
        display: flex;
        align-items: center;
        border: 1px solid red;
        height: 100vh;
        font: normal clamp(1.4em, 3vw, 3em) / 0.9em $pr-montserrat;
        color: darken($a-color, 5%);
        letter-spacing: -3px;
      }

      p {
        border: 1px solid red;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font: normal clamp(1.3em, 1.5vw, 1.5em) / 0.9em $pr-montserrat;
        color: lighten($a-color, 15%);

        span {
          display: inline-block;

          &:nth-child(2) {
            margin-left: -10px;
            color: darken($a-color, 15%);
            font: 900 clamp(1.5em, 10.5vw, 10.5em) / 0.9em $sc-roboto;
          }
        }
      }
    }

    .project-image-content {
      position: absolute;
      border: 1px solid red;
      top: 0;
      right: 0;
      // top: 50%;
      // right: 0;
      // transform: translateY(-50%);
      min-width: 50%;
      height: 90vh;
      z-index: -10;

      .spline {
        pointer-events: none;
        width: 100%;
        height: 100%;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5em;
          background: white;
        }
      }
    }
  }
}

.project-slider {
  width: 100%;
  height: clamp(50vh, 80vw, 80vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 2em;

  .images-panel {
    display: flex;
    flex-wrap: nowrap;
    gap: 1em;

    &:last-child {
      flex-direction: row-reverse;
    }

    .image-card {
      width: clamp(12em, 20vw, 20em);
      aspect-ratio: 1 / 0.5;
      box-shadow: 0 0 5px 1px lighten($a-color, 45%);
      filter: saturate(70%) grayscale(50%) brightness(90%);
    }
  }
}

// preloaders
.image-preloader {
  width: clamp(12em, 20vw, 20em);
  aspect-ratio: 1 / 0.5;
  background: darken($a-color, 15%);
  box-shadow: 0 0 5px 1px lighten($a-color, 45%);
  display: flex;
  justify-content: center;
  align-items: center;

  .image-icon {
    color: lighten($a-color, 5%);
    font-size: 5em;

    @include opacityReduce(3s);
  }
}
