@use "../variables.scss" as *;

.project-container {
     width: 100%;
     display: flex;
     justify-content: center;
     // border: 1px solid red;
}

// .project-wrapper{
//     border: 1px solid red;
//     width: 80%;
//     // height: 90vh;
//     display: flex;
//     align-items: center;
// }

.project-wrapper {
     // border: 1px solid red;
     width: 100%;
     display: flex;
     align-items: center;
     flex-direction: column;
}

.project-content1,
.project-content2 {
     //  border: 1px solid red;
}

.project-content2 {
     //  width: 80%;
     width: 90%;

     .cards {
          //   min-height: 20em;
          padding: 3em clamp(2em, 5vw, 5em);
          display: flex;

          .text-cards,
          .image-cards {
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
          }

          .text-cards {
               width: 30%;

               // h3,
               // h5,
               // p {
               //      // border: 1px solid red;
               // }
          }

          .image-cards {
               flex-grow: 1;
               //    border: 1px solid black;

               img {
                    max-width: 20em;
               }
          }
     }
}

.project-content1 {
     // border: 1px solid red;
     width: 80%;
     height: 70vh;
     display: flex;
     align-items: center;

     h3 {
          color: darken($a-color, 15%);
          font: 900 clamp(3em, 6vw, 6em) $sc-roboto;
          letter-spacing: -3px;
     }

     h4 {
          font: normal clamp(1em, 2vw, 2em) $sc-roboto;
          color: lighten($a-color, 15%);
          letter-spacing: -1px;
          margin-left: clamp(0.5em, 1vw, 1em);
     }
}

// preload
.preloader-wrapper-cards {
     margin-bottom: 5em;
     opacity: 0.95;
     // border: 1px solid red;

     .preloader-cards {
          // border: 1px solid red;
          display: flex;
          gap: 2em;
          padding-top: 1em;

          .preload-text-cards,
          .preload-image-cards {
               min-width: 30vw;
               min-height: 20vh;
               background: darken($a-color, 15%);

               @media (max-width: 768px) {
                    flex-grow: 1;
               }
          }

          .preload-text-cards {
               display: flex;
               flex-direction: column;
               justify-content: flex-end;
               padding: 1em;
               gap: 1em;

               h3,
               h5 {
                    @include opacityReduce(4s);

                    background-color: lighten($a-color, 20%);
                    max-width: 50%;
                    min-height: 2em;
                    border-radius: 35px;
               }
          }

          preload-image-cards {
               display: flex;
               justify-content: center;
               align-items: center;

               #logo-img-preload {
                    @include opacityReduce(4s);

                    font-size: clamp(2em, 5vw, 5em);
                    color: lighten($a-color, 20%);

               }
          }
     }
}
