@use "../variables.scss" as *;

.project-container {
     width: 100%;
     display: flex;
     justify-content: center;
     padding-top: 15em;
}

.project-wrapper {
     padding: 0 2em;
     width: 100%;
     height: 70vh;
     display: flex;
     flex-wrap: wrap;

     .project-content1,
     .project-content2 {
          flex: 1 0 20em;
          border: 1px solid red;
     }
}

.project-content1 {
     height: 100%;

     .img-wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
          height: 100%;
     }

     img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
     }
}

.project-content2 {
     display: flex;
     flex-direction: column;
     flex: 1 1 30em;
     padding: 0 clamp(2em, 5vw, 5em);
     padding-bottom: 20em;
     overflow-y: auto;
     overflow-x: hidden;

     @media (max-width: 992px) {
          margin-top: 2em;
     }

     h3 {
          padding-top: clamp(0em, 1vw, 1em);
          font: clamp(3em, 5vw, 5em) $pr-montserrat;
     }

     .item {
          display: flex;
          flex-wrap: wrap;
          padding: 10em clamp(0em, 0.5vw, 0.5em) 10em;

          .project-card,
          .progLang-card {
               flex: 1 0 20em;
          }

          .project-card {
               display: flex;
               flex-direction: column;

               h3 {
                    font: 700 clamp(1.5em, 2.5vw, 2.5em) $sc-roboto;
                    letter-spacing: -2px;
               }

               h4 {
                    font-weight: 600;
               }

               p {
                    font-size: 0.8em;
                    overflow: hidden;
               }

               h4,
               p,
               a,
               button {
                    font-family: $tr-opensans;
                    margin-bottom: 1em;
               }

               button {
                    font-family: $tr-opensans;
                    background: none;
                    border: 1px solid $a-color;
                    font-size: 0.8em;
                    margin-bottom: 3em;
                    padding: 0.3em 1em;
                    width: max-content;
                    transition: 0.3s ease-in-out;

                    &:hover {
                         background: darken($tr-color, 10%);
                    }
               }

               a {
                    all: unset;
                    position: relative;
                    font-family: $tr-opensans;
                    cursor: pointer;
                    width: max-content;
                    display: flex;

                    &::after {
                         position: absolute;
                         content: "";
                         bottom: -3px;
                         left: 0;
                         width: 100%;
                         height: 3px;
                         background: $a-color;
                         z-index: 1;
                    }

                    span {
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         margin-left: 0.3em;
                    }
               }
          }

          .progLang-card {
               display: flex;
               padding-top: 2em;
               align-items: center;

               .progLang-wrapper {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1em;

                    @media (min-width: 992px) {
                         padding: 1em clamp(0em, 1vw, 1em);
                    }

                    span {
                         font-size: clamp(0.8em, 1vw, 1em);
                         font-family: $tr-opensans;
                         background: $tr-color;
                         padding: 0.2em 1.5em;
                         border-radius: 15px;
                    }
               }
          }
     }
}
