@use "../variables.scss" as *;

.project-content-wrapper {
  display: flex;
  min-height: 120vh;
  width: 100%;

  @media (max-width: 768px) {
    padding: 0 1em;
    width: 100%;
  }

  .project-content1 {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: clamp(0em, 5vw, 5em);

    .project-text-context {
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h4 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
        font: normal clamp(2em, 3vw, 3em) / 0.9em $pr-montserrat;
        letter-spacing: -3px;

        span {
          display: inline-block;

          &:nth-child(2) {
            font: normal clamp(0.4em, 1.5vw, 1.5em) $pr-montserrat;
            color: lighten($a-color, 35%);
            letter-spacing: initial;
          }
        }
      }
      p {
        height: 60vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font: normal clamp(0.9em, 1.5vw, 1.5em) / 0.9em $pr-montserrat;
        color: lighten($a-color, 15%);

        span {
          display: inline-block;

          &:nth-child(2) {
            margin-left: -10px;
            color: darken($a-color, 15%);
            font: 900 clamp(4em, 10vw, 10em) / 0.9em $sc-roboto;

            @media (max-width: 992px) {
              margin-left: -3px;
            }

            span {
              color: transparent;
              -webkit-text-stroke: 2px lighten($a-color, 35%);
            }
          }
        }
      }
    }

    .project-spline-content {
      position: absolute;
      top: -10em;
      right: 0;
      min-width: 50%;
      height: 90vh;
      z-index: -10;

      @media (max-width: 768px) {
        top: -5em;
        left: 50%;
        transform: translateX(-50%);
        right: initial;
        height: 50vh;
      }

      .spline {
        pointer-events: none;
        width: 100%;
        height: 100%;

        &::after {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 5em;
          background: white;
        }
      }
    }
  }
}
