@use "../styling/variables.scss" as *;

.nav-container {
     width: 100%;
     padding: clamp(0.5em, 2vw, 2em);
     display: flex;
     position: fixed;
     top: 0;
     z-index: 10;
     transition: all 0.5s ease-in-out;
}

.navlinks-wrapper,
.logo-wrapper {
     display: flex;
}

.logo-wrapper {
     flex-shrink: 0;
     align-items: center;
     opacity: 0.85;
     cursor: pointer;

     img {
          width: clamp(2em, 2vw, 4em);
     }

     h1 {
          font-size: clamp(1em, 2vw, 2em);
          font-family: $logo-font;
          font-weight: 300;
          letter-spacing: -3px;

          @media (max-width: 576px) {
               letter-spacing: -2px;
          }
     }
}

.navlinks-wrapper {
     flex-grow: 1;
     align-items: center;
     margin-right: clamp(0em, 5vw, 5em);

     ul {
          margin-left: auto;
          display: flex;
          gap: clamp(1em, 2vw, 2em);

          li {
               position: relative;
               font-size: clamp(0.8em, 1vw, 1.1em);
               list-style-type: none;
               font-family: $pr-montserrat;
               cursor: pointer;

               &:hover::after {
                    width: 100%;
               }

               &::after {
                    position: absolute;
                    content: "";
                    bottom: -3px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    width: 0%;
                    background: #000;
                    transition: all 0.3s ease-in-out;
                    z-index: 11;

                    @media (max-width: 576px) {
                         height: 1px;
                    }
               }

               a {
                    all: unset;
               }
          }
     }
}

// actions to be added by classlist
.blurry {
     backdrop-filter: blur(15px);
     -webkit-backdrop-filter: blur(15px);
     background-color: rgba(255, 255, 255, 0.801);
     box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.151);
}
